@tailwind base;
a {
    @apply text-blue-700;
}

a:hover {
    @apply underline;
}

@tailwind components;
@tailwind utilities;
:root {
    --blue: #1e90ff;
    --white: #ffffff;
    --charcoal: #3B4146;
    --lightCharcoal: #C1C7C7;
    --lightBlack: #707070;
    --brown: #2C0F0F;
    --blackFooter: #222627;
    --pink: #FC74A8;
    --deepWhite: #F7F7F7;
    --lighterCharcoal: #AFACAC;
    --lightPink: #E2B5B5;
    --deepWhite: #F0F0F0;
    --deepCharcoal: #2E3433;
}

body {
    overflow-x: hidden;
}

@media only screen and (max-width: 480px) and (min-width: 320px) {}